body {
    margin: 0;
    padding: 0;
    background-color: black;
    font-family: serif;
}

.dice {
    height: 200px;
    width: 200px;
    position: relative;
    transform-style: preserve-3d;
    transform: translateZ(-100px) rotateY(-45deg) rotateX(-45deg);
    transition: transform 1s;
}

.panel {
    border-radius: 10px;
    width: 200px;
    height: 200px;
    perspective: 400px;
    position: absolute;
    left: 50%;
    top: 30%;
    transform: translate(-50%, -50%);
}

.dot {
    display: block;
    width: 24px;
    height: 24px;
    border-radius: 50%;
    margin: 4px;
    background-color: #f40607;
}

.side {
    position: absolute;
    background-color: white;
    width: 200px;
    height: 200px;
    border-radius: 10px;
    line-height: 200px;
}

.one {
    display: flex;
    justify-content: center;
    align-items: center;
    transform: rotateX(-90deg) translateZ(100px);
    z-index: 1;
}

.two {
    display: flex;
    justify-content: space-between;
    transform: rotateY(180deg) translateZ(100px);
    z-index: 2;
}

.two .dot:nth-of-type(2) {
    align-self: flex-end;
}

.three {
    display: flex;
    justify-content: space-between;
    transform: rotateY(90deg) translateZ(100px);
    z-index: 3;
}

.three .dot:nth-of-type(2) {
    align-self: center;
}

.three .dot:nth-of-type(3) {
    align-self: flex-end;
}

.four {
    z-index: 4;
    transform: rotateY(0deg) translateZ(100px);
}

.four,
.six {
    display: flex;
    justify-content: space-between;
}

.four .kolona,
.six .kolona {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.five {
    display: flex;
    justify-content: space-between;
    transform: rotateY(-90deg) translateZ(100px);
    z-index: 5;
}

.five .kolona {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.five .kolona:nth-of-type(2) {
    justify-content: center;
}

.six {
    transform: rotateX(90deg) translateZ(100px);
    z-index: 6;
}


/*Customization panel*/

.custom {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: calc(20% + 250px);
}

.custom>* {
    margin: 10px;
}

.custom>button#spin {
    font-size: 20px;
    text-transform: uppercase;
    padding: 15px 10px;
    color: #202020;
    background-color: #eee;
    border: none;
    border-radius: 6px;
    font-weight: 600;
    cursor: pointer;
    transition: all 0.2s ease-in-out;
}

.custom>button#spin:hover {
    background-color: #fff;
    padding: 15px 15px;
}

.picker {
    border: none;
}

.loading-class img {
    margin: 0 45%;
    display: none;
}

.headerBg {
    background-size: cover;
    background-repeat: no-repeat;
}

.headerBg h1 {
    margin: 0;
    text-decoration: underline;
    color: white;
    text-transform: uppercase;
    font-weight: 600;
    font-size: 50px;
}

.btn-continue {
    position: absolute;
    bottom: 15px;
    right: 15px;
    font-size: 20px;
    background-image: url(../media/arrow.png);
    background-size: 100% 100%;
    padding: 20px 40px 20px 10px;
    background-repeat: no-repeat;
    text-decoration: none;
    cursor: pointer;
    color: white;
    text-decoration: none;
}

.btn-continue:hover {
    color: white;
}

button,
button:focus,
video,
audio {
    outline: none;
}

.bg-black {
    background-color: black;
    height: 100%;
    width: 100%;
    position: absolute;
    top: 0;
    bottom: 0;
    z-index: 10;
}

#unmute {
    position: absolute;
    cursor: pointer;
    width: 50px;
    height: 50px;
    font-size: 36px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: black;
    border-radius: 100px;
    color: #fff;
}

.mainHeading {
    font-size: 80px;
    font-weight: 700;
}

.descriptivePara {
    color: white;
    font-size: 32px;
    margin-top: 40px;
    line-height: 40px;
}

.btn-theme {
    display: inline-block;
    background-color: #0d0a0a;
    color: #fff !important;
    transition: all 0.2s ease-in-out;
    text-align: center;
    text-decoration: none;
    vertical-align: middle;
    padding: .375rem .75rem;
    font-size: 2rem;
    border-radius: .25rem;
    margin-top: 20px;
    min-width: 280px;
    border: 1px solid transparent;
    cursor: pointer;
    text-transform: uppercase;
    font-family: serif;
}

.btn-theme:hover {
    background-color: #1c1125;
}

.btn-theme.dark {
    background-color: #536f65;
}

.br-20 {
    border-radius: 20px;
}

.tell_tales_mermaid {
    height: 380px;
    position: absolute;
    right: -50px;
    top: 0;
    transform: rotate( 20deg);
}

.music_time_travel_cassette {
    height: 380px;
    position: absolute;
    right: -5px;
    top: 0;
    transform: rotate( 20deg);
}